In [5]:
import pandas as pd

df = pd.read_csv('ad_campaign_data.csv')
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 35 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   user_id                     100000 non-null  object
 1   age                         100000 non-null  int64
 2   gender                      100000 non-null  int64
 3   location                    100000 non-null  int64
 4   device_type                 100000 non-null  int64
 5   ad_id                       100000 non-null  object
 6   ad_category                 100000 non-null  int64
 7   impressions                 100000 non-null  int64
 8   clicks                      100000 non-null  int64
 9   conversions                 100000 non-null  int64
 10  engagement_duration         100000 non-null  float64
 11  interaction_timestamps      100000 non-null  object
 12  previous_interaction_score  100000 non-null  float64
 13  sentiment_score             100000 non-null  float64
 14  tfidf_0                     100000 non-null  float64
 15  tfidf_1                     100000 non-null  float64
 16  tfidf_2                     100000 non-null  float64
 17  tfidf_3                     100000 non-null  float64
 18  tfidf_4                     100000 non-null  float64
 19  tfidf_5                     100000 non-null  float64
 20  tfidf_6                     100000 non-null  float64
 21  tfidf_7                     100000 non-null  float64
 22  tfidf_8                     100000 non-null  float64
 23  tfidf_9                     100000 non-null  float64
 24  tfidf_10                    100000 non-null  float64
 25  tfidf_11                    100000 non-null  float64
 26  tfidf_12                    100000 non-null  float64
 27  tfidf_13                    100000 non-null  float64
 28  tfidf_14                    100000 non-null  float64
 29  tfidf_15                    100000 non-null  float64
 30  tfidf_16                    100000 non-null  float64
 31  tfidf_17                    100000 non-null  float64
 32  tfidf_18                    100000 non-null  float64
 33  tfidf_19                    100000 non-null  float64
 34  tfidf_20                    100000 non-null  float64
dtypes: float64(24), int64(8), object(3)
memory usage: 26.7+ MB
None
                 age         gender       location    device_type  \
count  100000.000000  100000.000000  100000.000000  100000.000000
mean       40.961840       0.499320       1.999160       1.002530
std        13.552687       0.500002       1.414319       0.816658
min        18.000000       0.000000       0.000000       0.000000
25%        29.000000       0.000000       1.000000       0.000000
50%        41.000000       0.000000       2.000000       1.000000
75%        53.000000       1.000000       3.000000       2.000000
max        64.000000       1.000000       4.000000       2.000000

        ad_category   impressions         clicks    conversions  \
count  100000.00000  100000.00000  100000.000000  100000.000000
mean        1.99709    2510.88100    1256.794230       0.897920
std         1.41603    1435.87615    1104.110174       0.302755
min         0.00000      10.00000       0.000000       0.000000
25%         1.00000    1269.00000     344.000000       1.000000
50%         2.00000    2513.00000     939.000000       1.000000
75%         3.00000    3751.00000    1922.250000       1.000000
max         4.00000    4999.00000    4985.000000       1.000000

       engagement_duration  previous_interaction_score  ...       tfidf_11  \
count        100000.000000               100000.000000  ...  100000.000000
mean             62.457370                    0.499741  ...       0.099300
std              33.220725                    0.288711  ...       0.199474
min               5.000727                    0.000003  ...       0.000000
25%              33.656847                    0.248697  ...       0.000000
50%              62.495760                    0.500188  ...       0.000000
75%              91.254178                    0.748704  ...       0.000000
max             119.998506                    0.999991  ...       0.500000

            tfidf_12       tfidf_13       tfidf_14       tfidf_15  \
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.100845       0.100845       0.089018       0.099300
std         0.200632       0.200632       0.178567       0.199474
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         0.500000       0.500000       0.447214       0.500000

            tfidf_16       tfidf_17       tfidf_18       tfidf_19  \
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.089689       0.089018       0.115534       0.089018
std         0.179071       0.178567       0.230989       0.178567
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         0.447214       0.447214       0.577350       0.447214

            tfidf_20
count  100000.000000
mean        0.089689
std         0.179071
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         0.447214

[8 rows x 32 columns]

  user_id  age  gender  location  device_type   ad_id  ad_category  \
0  U25795   45       0         2            2  A77161            2
1  U10860   29       0         0            2  A41167            1
2  U86820   59       0         1            2  A55186            1
3  U64886   47       0         1            2  A59722            4
4  U16265   36       1         0            0  A38955            2

   impressions  clicks  conversions  ...  tfidf_11 tfidf_12  tfidf_13  \
0         2460    1223            1  ...       0.0      0.0       0.0
1          162     117            1  ...       0.0      0.0       0.0
2         3648     554            1  ...       0.0      0.5       0.5
3          648     259            1  ...       0.0      0.5       0.5
4         3598    1860            1  ...       0.0      0.5       0.5

   tfidf_14  tfidf_15  tfidf_16  tfidf_17  tfidf_18  tfidf_19  tfidf_20
0       0.0       0.0  0.000000       0.0   0.57735       0.0  0.000000
1       0.0       0.0  0.447214       0.0   0.00000       0.0  0.447214
2       0.0       0.0  0.000000       0.0   0.00000       0.0  0.000000
3       0.0       0.0  0.000000       0.0   0.00000       0.0  0.000000
4       0.0       0.0  0.000000       0.0   0.00000       0.0  0.000000

[5 rows x 35 columns]